<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/static/css/style.css}"/>
    <title>Apartments</title>
</head>
<body>

<div class="container">
    <div class="row marginless">
        <div class="col-md-12 bordered ">
            <div class="row marginless col-12">
                <h2>Apartments:</h2>
            </div>
            <div class="row marginless col-12 header-row">
                <div class="col-1">Lp.</div>
                <div class="col-1">Id.</div>
                <div class="col-6">Address</div>
                <div class="col-4">Actions</div>
            </div>
            <div class="row col-12 marginless table-row" th:each="element,index : ${apartmentList}">
                <div class="col-1" th:text="${index.index}">
                </div>
                <div class="col-1" th:text="${element.getId()}">
                </div>
                <div class="col-4"
                     th:text="${element.getAddress() + ', ' + element.getZipcode() + ' ' + element.getCity()}">
                </div>
                <div class="col-2">
                    <form th:action="@{/apartment/details}" th:method="get">
                        <input type="text" th:value="${element.getId()}" name="apartmentId" hidden>
                        <input class="col-12 form-control" type="submit" value="Details">
                    </form>
                </div>
                <div class="col-2">
                    <form th:action="@{/apartment/update}" th:method="get">
                        <input type="text" th:value="${element.getId()}" name="apartmentId" hidden>
                        <input class="col-12 form-control" type="submit" value="Update">
                    </form>
                </div>
                <div class="col-2">
                    <form th:action="@{/apartment/delete}" th:method="get">
                        <input type="text" th:value="${element.getId()}" name="apartmentId" hidden>
                        <input class="col-12 form-control" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
