<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Apartments</title>
</head>
<body>

<div class="container">
    <div class="row marginless additional-space">
        <div class="col-md-6 bordered additional-space">
            <fieldset th:object="${apartment}">
                <div class="row col-md-12 marginless">
                    <legend>Apartment details:</legend>
                </div>
                <div class="row col-md-12 marginless">
                    <div class="col-md-6">
                        <label class="label-alignment-middle" for="address">Address</label>
                    </div>
                    <div class="col-md-6">
                        <label id="address" name="address" class="form-control" th:text="*{address}">
                        </label>
                    </div>
                </div>
                <div class="row col-md-12 marginless">
                    <div class="col-md-6">
                        <label for="zipCode">Postal Code</label></div>
                    <div class="col-md-6">
                        <label id="zipCode" name="zipCode" class="form-control" th:text="*{zipcode}">
                        </label>
                    </div>
                </div>
                <div class="row col-md-12 marginless">
                    <div class="col-md-6">
                        <label for="city">City</label></div>
                    <div class="col-md-6">
                        <label id="city" name="city" class="form-control" th:text="*{city}">
                        </label>
                    </div>
                </div>
                <div class="row col-md-12 marginless">
                    <div class="col-md-6">
                        <label for="size">Size</label>
                    </div>
                    <div class="col-md-6">
                        <label id="size" name="size" class="form-control" th:text="*{size}">
                        </label>
                    </div>
                </div>
                <div class="row col-md-12 marginless">
                    <div class="col-md-6">
                        <label for="roomsNumber">Number Of Rooms</label>
                    </div>
                    <div class="col-md-6">
                        <label id="roomsNumber" name="roomsNumber" class="form-control" th:text="*{rooms}">
                        </label>
                    </div>
                </div>
                <div class="row col-md-12 marginless">
                    <div class="col-md-6">
                        <label for="lastRenovated">Last Renovated</label></div>
                    <div class="col-md-6">
                        <label id="lastRenovated" name="lastRenovated" class="form-control" th:text="*{lastRenovation}">
                        </label>
                    </div>
                </div>
                <div class="row col-md-12 marginless">
                    <div class="col-md-6">
                        <label for="value">Value</label>
                    </div>
                    <div class="col-md-6">
                        <label id="value" name="value" class="form-control" th:text="*{value}">
                        </label>
                    </div>
                </div>
                <div class="row col-md-12 marginless">
                    <div class="col-md-6">
                        <label for="floor">Floor</label>
                    </div>
                    <div class="col-md-6">
                        <label id="floor" name="floor" class="form-control" th:text="*{floor}">
                        </label>
                    </div>
                </div>
                <div class="row col-md-12 marginless">
                    <div class="col-md-6">
                        <label for="nonSmoking">Non-Smoking</label>
                    </div>
                    <div class="col-md-6">
                        <label id="nonSmoking" name="nonSmoking" class="form-control" th:text="*{nonSmoking}">
                        </label>
                    </div>
                </div>
                <div class="row col-md-12 marginless">
                    <div class="col-md-6">
                        <label for="noPets">No Pets</label>
                    </div>
                    <div class="col-md-6">
                        <label id="noPets" name="noPets" class="form-control" th:text="*{noPets}">
                        </label>
                    </div>
                </div>
                <div class="row col-md-12 marginless">
                    <div class="col-md-6">
                        <label for="available">Available</label></div>
                    <div class="col-md-6">
                        <label id="available" name="available" class="form-control" th:text="*{available}">
                        </label>
                    </div>
                </div>
                <div class="row col-md-12 marginless" id="div-line-margin">
                </div>
            </fieldset>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
